<div class='questionnaire-page__wrapper'>
  <div class='pattern-grid'></div>
  <div class='pattern-circle'></div>
  <div class='pattern-grid pattern--position'></div>

  <div class='content-column'>
    <main class='form'>
      <div class='form__base-style'>
        <div class='form__base-background'>
          <div class='form__root-wrapper'>
            <div class='form__block-list'>
              <div class='form__bouse-wheel-trigger'>
                {{! template-lint-disable  no-inline-styles}}
                <div style='height: 100%;'>
                  <div class='root' {{did-insert this.onDomInit}}>
                    {{! <!- --------------start----------- -> }}
                    <Forms
                      @rows={{this.getRows}}
                      @isEnabledArrowDown={{this.isEnabledArrowDown}}
                    />
                    {{! <!- --------------end----------- -> }}
                  </div>
                </div>
                <Forms::Footer
                  @onArrowUp={{fn this.onArrowAction false}}
                  @onArrowDown={{fn this.onArrowAction true}}
                  @renderedItemIndex={{this.getActiveIndex}}
                  @renderedItemNumberValue={{this.getRenderedItemNumber}}
                  @lasItemIndex={{this.getRows.length}}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>