<div aria-hidden='false' class='footer__wrapper'>
  <div class='footer__wrapper-block'>
    <div class='fixed-footer'>
      <nav class='navigation-buttons'>
        <button
          tabindex='0'
          type='button'
          disabled={{if (eq @renderedItemNumberValue @lasItemIndex) true}}
          {{on 'click' @onArrowDown}}
        >
          <span class=''>
            <svg height='9' width='14'>
              <path
                d='M12.293.293l1.414 1.414L7 8.414.293 1.707 1.707.293 7 5.586z'
              ></path>
            </svg>
          </span>
        </button>
        <div class='button-divider'></div>
        <button
          tabindex='0'
          class='left-button'
          type='button'
          disabled={{if (eq @renderedItemIndex 0) true}}
          {{on 'click' @onArrowUp}}
        >
          <span>
            <svg height='9' width='14'>
              <path
                d='M11.996 8.121l1.414-1.414L6.705 0 0 6.707l1.414 1.414 5.291-5.293z'
              ></path>
            </svg>
          </span>
        </button>
        <div class='page-count'>
          {{@renderedItemNumberValue}}/{{@lasItemIndex}}
        </div>
      </nav>
    </div>
  </div>
</div>